.about-copy {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.about-copy {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  text-transform: capitalize;
}

.marquee span {
  display: inline-block;
  animation: marquee 30s linear infinite;
  font-size: 20px; /* Regola la dimensione del font a piacimento */
  text-transform: capitalize;
  font-family: 'Gotham Book';
}

/* Keyframes per l'animazione del marquee */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.copy-about-margins {
  padding-left: 75px;
  padding-right: 75px;

}

@media (max-width: 900px) {
  .copy-about-margins {
    padding-left: 23px;
    padding-right: 23px;
    font-size: 13px;
  
  }

  #copyright {
    font-size: 9px;
  }

  .image-container img {
    width: auto; /* O la larghezza specifica che preferisci */
    height: 23vh !important; /* Regola l'altezza secondo le tue necessità */
    margin-right: 12px; /* Spazio tra le immagini */
    padding-bottom: 24px;
    padding-top: 20px;
    border-radius: 5px;
  }

}


.image-marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.image-container {
  display: flex;
  animation: imageMarquee 30s linear infinite;
  border-radius: 5px;
}

.image-container img {
  width: auto; /* O la larghezza specifica che preferisci */
  height: 44vh; /* Regola l'altezza secondo le tue necessità */
  margin-right: 10px; /* Spazio tra le immagini */
  padding-bottom: 24px;
  padding-top: 20px;
}

.image-container img {
  border-radius: 15px !important;/* Esempio di valore per il border-radius */
  /* altre proprietà */
}

/* Keyframes per l'animazione del marquee di immagini */
@keyframes imageMarquee {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}


/* Personalizza la barra di scorrimento per WebKit/Blink browsers come Chrome, Safari */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #000; /* colore dello sfondo della barra */
}

::-webkit-scrollbar-thumb {
  background: #000; /* colore dello slider della barra */
}

/* Per Firefox */
.contact {
  scrollbar-color: #000 #000; /* colore dello slider e dello sfondo della barra */
}

