.project-wrapper section.project-type .project-type-copy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 400px;
}

.project-wrapper section.project-hero {
  padding: 0;
  width: 100%;
  height: 700px;
}

.project-wrapper section.project-hero .project-hero-img {
  width: 100%;
  height: 100%;
}

.project-wrapper section.project-hero .project-hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-wrapper section.project-overview .project-overview-copy {
  width: 100%;
  height: 300px;
  display: flex;
}

.project-wrapper section.project-overview .project-overview-copy > div {
  flex: 1;
}

.project-wrapper section.project-img-full {
  width: 100%;
  height: 800px;
}

.project-wrapper section.project-img-full .project-img-full-wrapper {
  width: 100%;
  height: 100%;
}

.project-wrapper section.project-img-full .project-img-full-wrapper img {
  width: 100%;
  height: 100%;
}

.project-wrapper section.project-info {
  display: flex;
  gap: 2em;
  padding-top: 0;
}

.project-wrapper section.project-info > div {
  flex: 1;
}

.project-wrapper section.project-info .project-info-img {
  height: 700px;
}

.project-wrapper section.project-info .project-info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-overview-copy-h1 h1 a {
  color: #fff;
}

section.discover {
  padding-top: 0;
}

@media (max-width: 900px) {
  .project-wrapper section.project-type .project-type-copy {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .project-wrapper section.project-overview .project-overview-copy {
    flex-direction: column;
  }

  .project-wrapper
    section.project-overview
    .project-overview-copy
    .project-overview-ws {
    display: none;
  }

  .project-wrapper section.project-overview .project-overview-copy {
    height: max-content;
  }

  .project-wrapper
    section.project-overview
    .project-overview-copy
    .project-overview-copy-h1 {
    margin-bottom: 1em;
  }

  .project-wrapper section.project-info {
    flex-direction: column;
  }
}

.project-visualizer {
  display: flex;
  /* Add more styles as needed for your content */
}


.project-visualizer {
  display: flex; /* Disponi le immagini in linea */
  height: 100%; /* Altezza pari al contenitore, cioè 100vh */
}

.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%; /* o la larghezza che preferisci */
  height: 100vh; /* o l'altezza che preferisci */
}

.project-image {
  max-height: 100%;
  width: auto;
  object-fit: contain; /* per assicurarsi che le immagini si adattino senza essere tagliate */
  padding-right:5px;
  padding-left:5px;
  border-radius:15px;
}


.project-nav {
  position: fixed;
  top: 0;
  width: 100%;
  /* Altri stili per la navbar */
}

.project-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Altri stili per il footer */
}

.content {
  padding-top: 60px; /* A seconda dell'altezza della navbar */
  padding-bottom: 60px; /* A seconda dell'altezza del footer */
  /* Altri stili per il contenuto */
}

.project-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: 1.2em;
  mix-blend-mode: difference;
  z-index: 100;
}

.project-nav button {
  font-size: 12px;
  background: none;
  border: none;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5em 1em; /* Aggiunge spazio intorno al testo del bottone */
  font-family: 'Gotham Bold';
}

.project-nav button:hover {
  opacity: 0.7; /* Effetto al passaggio del mouse */
}

.project-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  mix-blend-mode: difference;
  z-index: 100;
}

.footer-credits {
  font-size: 10px !important;
} 


/* Media queries per dispositivi mobili e tablet */
@media (max-width: 768px) {
  p {
    font-size: 12px !important;
  } 
  p {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 120%;
  }
}
