html,
body {
  overflow: hidden;
}

.about {
  overflow: hidden;
}

.about-copy {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: 'Gotham Bold';
}

/* Margini e padding per il testo dell'about */
.copy-about-margins {
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 10vh;
  font-size: 18px;
}

/* Stili per il testo dell'about più piccolo */
.about-copy-2 {
  font-size: 10px;
  padding-bottom: 35px;
  font-family: 'Gotham Book';
}

/* Stili per il marquee di testo */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  text-transform: uppercase;
}

.marquee span {
  display: inline-block;
  animation: marquee 20s linear infinite;
  font-size: 10px;
  font-family: 'Gotham Book';
  text-transform: uppercase;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Stili per il marquee di immagini */
.image-marquee {
  width: 100%;
  overflow: hidden;
}

.image-container {
  display: flex;
  animation: imageMarquee 30s linear infinite;
  white-space: nowrap;
}

.image-container img {
  width: auto;
  border-radius: 15px;
  margin-left: 1vw;
  width: 52vw;
}

@keyframes imageMarquee {
  from {
    transform: translateX(-371%);
  }

  to {
    transform: translateX(0);
  }
}

/* Stili esistenti per il contenitore dell'about e altri elementi */

/* Altri stili CSS... */

/* Media query per dispositivi mobili */
@media (max-width: 768px) {

  /* 768px è un breakpoint comune per tablet e dispositivi mobili */
  .copy-about-margins {
    font-size: 12px;
    /* Dimensione del testo principale per dispositivi mobili */
    padding-top: 7vh;
  }

  .about-copy-2 {
    font-size: 9px;
    /* Dimensione del testo per .about-copy-2 su dispositivi mobili */
    padding-left: 25vw;
    padding-right: 25vw;
  }

  .image-container img {
    width: auto;
    border-radius: 9px;
    margin-left: 1vw;
    width: 58vw;
  }

  .marquee span {
    font-size: 9px !important;
    font-family: 'Gotham Book';
    text-transform: none;
    text-transform: uppercase;
  }


}