/* contact */
section.contact {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}

.contact-copy a{
  color: #fff !important;
  text-transform: none;  
}

.empty_space_2 {
  margin-bottom: 20px;
}

section.contact p{
 text-transform: none;
 font-weight: 400;
} 

section.contact .contact-copy {
  width: 60%;
  text-align: center;
  line-height: 0.8em;
}

section.contact .contact-copy p {
  font-weight: 400;
  font-size: 17px;
}

section.contact .contact-copy a {
  text-decoration: none;
  color: #000;
}

section.contact .contact-copy span#copyright {
  font-size: 10px;
  width: 100vw;
  line-height: 1em;
}

.empty_space {
  padding-bottom:95vh;
}

::-webkit-scrollbar {
  display: none;
}

/* Nasconde la barra di scorrimento in IE, Edge e Firefox */
.contact {
  -ms-overflow-style: none;  /* per Internet Explorer e Edge */
  scrollbar-width: none;  /* per Firefox */
  
}

.fixed-logo {
  position: fixed;
  top: 55vh;
  z-index: 1000; /* Assicurati che sia sopra gli altri elementi */
  left: ;
}


.fixed-logo img {
  width: 333%; /* Ajusta secondo le tue necessità */
  height: auto;
}