/* contact */
section.contact {
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}

.contact-copy a {
  color: #fff !important;
  text-transform: none;
}

.empty_space_2 {
  margin-bottom: 20px;
}

section.contact p {
  text-transform: none;
  font-weight: 400;
}

section.contact .contact-copy {
  width: 60%;
  text-align: center;
  line-height: 0.8em;
}

section.contact .contact-copy p {
  font-weight: 400;
  font-size: 17px;
}

section.contact .contact-copy a {
  text-decoration: none;
  color: #000;
}

section.contact .contact-copy span#copyright {
  font-size: 10px;
  width: 100vw;
  line-height: 1em;
}

.empty_space {
  padding-bottom: 70vh;
}

::-webkit-scrollbar {
  display: none;
}

/* Nasconde la barra di scorrimento in IE, Edge e Firefox */
.contact {
  -ms-overflow-style: none;
  /* per Internet Explorer e Edge */
  scrollbar-width: none;
  /* per Firefox */

}

.fixed-logo-wrap {
  display: flex;
  top: 45vh;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  mix-blend-mode: difference;
  pointer-events: none;
}

.fixed-logo {
  height: auto;
  width: 50%;
}

.fixed-contec-wrapt {
  position: fixed;
}

.footer-year {
  right: 3em;
  font-size: 13px;
  bottom: 3em;
}

h6 {
  font-size: 9px;
  font-family: 'Gotham Book';
  line-height: 1.6em;
  text-transform: uppercase;
}