/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}


@font-face {
  font-family: "Gotham Bold";
  src: url("/fonts/GothamBold.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Gotham Book";
  src: url("/fonts/GothamBook.otf") format("opentype");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: "Gotham Bold";
}

section {
  width: 100%;
  padding: 1.4em;
}

section .about {
  width: 100%;
  padding: 0em;
}

h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 120%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 17px;
  }

  span {
    font-size: 11px;
  }
}

span {
  text-transform: uppercase;
  font-size: 16px;
}

/* transition */
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #000;
  transform-origin: left;
  z-index: 100000;
}

.slide-in-text {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  color: #fff;
  opacity: 0;
  z-index: 1000000000;
  pointer-events: none;
  text-transform: uppercase;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #000;
  transform-origin: right;
  z-index: 1000000;
}

@media (max-width: 768px) {
  .slide-in-text {
    position: fixed;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    color: #fff;
    opacity: 0;
    z-index: 1000000000;
    pointer-events: none;
    text-transform: uppercase;
    font-size: 10px !important;
  }

  section {
    width: 100%;
    padding: 1em;
  }
  
}


@media (max-width: 768px) {
  .slide-in-text {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 49%;
    color: #fff;
    opacity: 0;
    z-index: 1000000000;
    pointer-events: none;
    text-transform: uppercase;
    font-size: 13px;
  }

  section {
    width: 100%;
    padding: 1em;
  }
  
}




